<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Continue</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<h1>Hello, <b sec:authentication="name"></b>,
        Your role is, <b sec:authentication="principal.authorities"></b></h1>
	
		<h3>Mainpage</h3>
		<a href="/booklist">Move to booklist</a><br>  
		<a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/admin/register">Register new user</a><br><br><br>   
		
		
     <a href="/logout"><i>Kirjaudu ulos</i></a>
		
</body>
</html>